<h3 class="text-left">@ViewBag.Message</h3>
<address class="row">
    <div class="col-xs-12 col-md-5">
        <div class="row">
            <div class="col-md-12">
                <img class="size" src="~/img/teatr.jpg" alt="">
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-7 blok-text-top">
        <div class="col-md-12 center-text-blocks">
            <div class="row">
                <div class="col-xs-12 col-sm-5 cast-col">Адрес:</div>
                <div class="col-xs-12 col-sm-7">
                    <span class="fio">г. Минск, пл. Парижской Коммуны, 1</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 cast-col">Почтовый индекс:</div>
                <div class="col-xs-12 col-sm-7">
                    <span class=" fio">220029</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 cast-col">Отдел реализации билетов театра:</div>
                <div class="col-xs-12 col-sm-7">
                    <span class=" fio">(017) 334-80-74</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 cast-col">касса театра №1:</div>
                <div class="col-xs-12 col-sm-7">
                    <span class=" fio">+375 17 334-10-41</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 cast-col">
                    касса театра №2:
                </div>
                <div class="col-xs-12 col-sm-7">
                    <span class=" fio">+375 17 334-10-41</span>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-5 cast-col">E-mail:</div>
                <div class="col-xs-12 col-sm-7">
                    <span><a class=" fio" href="mailto:teatr@bolshoibelarus.by">teatr@bolshoibelarus.by</a></span>
                </div>
            </div>
        </div>
    </div>
</address>