@{
    ViewBag.Title = "Home Page";
}
<header class="header">
    <h1>Театральная Касса</h1>
    <div class="input-group">
        <input type="text" name="search" placeholder="Поиск">
    </div>
</header>
<div class="menu-poisk">
    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            Жанр
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Трагедия</a></li>
            <li><a href="#">Пародия</a></li>
            <li><a href="#">Мюзикл</a></li>
            <li><a href="#">Мелодрама</a></li>
            <li><a href="#">Драма</a></li>
            <li><a href="#">Комедия</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="siz img-rounded" src="~/img/blok.jpg" alt="">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="~/Theatre/Theatre" class="btn btn-green" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="siz img-rounded" src="~/img/blok.jpg" alt="">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-green" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="siz img-rounded" src="~/img/blok.jpg" alt="">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-green" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="siz img-rounded" src="~/img/blok.jpg" alt="">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-green" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="siz img-rounded" src="~/img/blok.jpg" alt="">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-green" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img class="siz img-rounded" src="~/img/blok.jpg" alt="">
            <div class="caption">
                <h3>Thumbnail label</h3>
                <p>...</p>
                <p><a href="#" class="btn btn-green" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
            </div>
        </div>
    </div>
</div> 