
@{
    ViewBag.Title = "Theatre";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-xs-12 col-md-5">
        <div class="row">
            <div class="col-md-12">
                <img class="size" src="~/img/blok.jpg" alt="">
            </div>

            <div class="col-md-12 center-text-blocks">
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col">Дата:</div>
                    <div class="col-xs-12 col-sm-7">
                        <span class="center-text-blocks fio">2015</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col">Прродожительность:</div>
                    <div class="col-xs-12 col-sm-7">
                        <span class="center-text-blocks fio">00 ч. 00 мин</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col">Жанр:</div>
                    <div class="col-xs-12 col-sm-7">
                        <span class="center-text-blocks fio">Драма</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col">Режиссер:</div>
                    <div class="col-xs-12 col-sm-7">
                        <span class="center-text-blocks fio">Имя Фамилия</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col">
                        Актерский состав:
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <span class="center-text-blocks fio">Имя Фамилия</span>
                        <span class="center-text-blocks fio">Имя Фамилия</span>
                        <span class="center-text-blocks fio">Имя Фамилия</span>
                        <span class="center-text-blocks fio">Имя Фамилия</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col">Стоимость билета:</div>
                    <div class="col-xs-12 col-sm-7">
                        <span class="center-text-blocks fio">руб. 0000-000000</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-5 cast-col"></div>
                    <div class="col-xs-12 col-sm-7">
                        <div class="caption col-md-3 col-md-offset-3"><a href="#" class="btn btn-green" role="button">Заказать</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-md-7">
        <h3>А-ля кобеля, и все, что движется...</h3>
        <p class="tait">Концертный зал "Минск" (малая сцена)</p>
        <p class="tait">
           по пьесе Вячеслава Никонорова, Михаила Спиваковского и Сергей
           Федорчука
        </p>

            <p class="tait">(театр "Черный Квадрат")</p>
            <p class="tait">
                ……Так о чем же всё-таки говорят мужчины в мужской компании, когда
                уже о футболе и автомобилях всё сказано, а на столе уже пусто?
                Конечно же, о Них — коварных, истеричных, дотошных, взбалмошных,
                безумных, непредсказуемых, но таких «необходимых, как воздух»!
            </p>
            <p class="tait">О женщинах!</p>

            <p class="tait">
                А тут ещё твой друг расстался с девушкой, чем не повод утешить
                товарища бескомпромиссной критикой «прекрасной половины
                человечества»…
            </p>

            <p class="tait">
                Поиски идеальной Женщины посредством неидеального мужского
                общения в обезбашенной комедии «А-ля Кобеля, или всё,
                что движется…»
            </p>
    </div>
</div>

